nav {
    height: 80px;
    width: 100%;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}


html, body, #root {
    font-family:'Poppins', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #3485D6 !important;
}
  
nav img {
    width: 200px;
    height: 60px;
    margin-left: 8rem;
}
  
nav div#menu {
    margin-right: 8rem;
}
  
  
@media(max-width: 600px){
    nav img {
      width: 150px;
      margin-left: 1rem;
    }
    nav div#menu {
      margin-right: 3rem;
    }
}
nav button {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}
  
nav button#entrarLogin {
    background: #EDA132;
    transition: .3s;
    cursor: default;
}
  
nav button#homeLogin {
    font-weight: 500;
    color:#000000;
    background: none;
  
    transition: .3s;
}
nav button#homeLogin:hover {
    font-weight: 500;
    color:#FFFFFF;
    background: rgb(167, 167, 167);
}

div#loginBg{
    margin-top: 80px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.658) , transparent), url("../../assets/login.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}
div#newBg{
    margin-top: 80px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.658) , transparent), url("../../assets/user.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
}

.content-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #3485D6;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    color: black;
    padding: 0 15rem;
}

.content-new{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #3485D6;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    color: black;
    padding: 0 15rem;
}


.content-new div#menuButtons {
    flex-direction: column;
    width: 650px;
    height: auto;
    padding: 30px;
}



.content-new div#menuButtons button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: white;
    font-size: 35px;
    font-weight: 600;

    transition: .3s;
}

@media(max-width: 700px){
    .content-new div#menuButtons button{
        width: 420px;
    }
    .content-new div#menuButtons {
        width: 480px;
    }
}

.content-new div#menuButtons button img{
    height: 70px;
    width: 70px;
    margin-right: 20px;
}

.content-new div#menuButtons button#seusAnimais{
    background-color: #EBB43C;
}
.content-new div#menuButtons button#seusAnimais:hover{
    background-color: rgb(206, 157, 52);
}
.content-new div#menuButtons button#agendarServico{
    background-color: #E8A23F;
}
.content-new div#menuButtons button#agendarServico:hover{
    background-color: rgb(196, 136, 53);
}
.content-new div#menuButtons button#ver{
    background-color: #E69240;
}
.content-new div#menuButtons button#ver:hover{
    background-color: rgb(187, 119, 52);
}

.content-new div#menuButtons span {
    font-size: 20px;
}

.content-login form {
    margin-top: 1.5rem;
    padding: 35px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    background: #EFB62E;
    box-shadow: 0px 6px 12px #0000000F;
    border-radius: 20px;
}

.content-new form{
    margin-top: 1rem;
    padding: 35px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    background: #EFB62E;
    box-shadow: 0px 6px 12px #0000000F;
    border-radius: 20px;
}

.content-login form input{
    width: 320px;
    height: 45px;
    border-radius: 12px;
    padding: 0 20px;
    margin-bottom: 25px;
}
.content-new form input{
    width: 410px;
    height: 45px;
    border-radius: 12px;
    padding: 0 20px;
    margin-bottom: 25px;
}

::-webkit-input-placeholder{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight:500;
    text-align: left;
}

::-moz-placeholder{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight:500;
    text-align: left;
}

.content-login form button{
    width: 320px;
    height: 45px;
    border-radius: 12px;
    text-align: center;
    background: #3485D6;
    color: white;
    font-weight: 600;

    transition: .3s;
}

.content-new form button{
    width: 410px;
    height: 45px;
    border-radius: 12px;
    text-align: center;
    background: #3485D6;
    color: white;
    font-weight: 600;

    transition: .3s;
}

.content-login form button:hover, .content-new form button:hover{
    background: rgb(43, 112, 182);
}

.content-login form hr {
    width: 380px;
    height: 2px;
    margin: 30px 0;
    background: #3485D6;
}

.content-login form span, .content-login span, .content-new form span, .content-new span{
    color: white;
}
.content-login span, .content-new span{
    margin-top: 10px;
}


.content-login form span#toNew{
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: #3485D6;
    transition: .3s;
}
.content-login form span#toNew:hover{
    color: rgb(99, 165, 231); 
}



.err-msg{
    width: 550px;
    height: 50px;
    top: 20px;
    margin-top: 10px;
    background: rgb(253, 112, 112);
    color: white;
    height: 50px;
    text-align: center;
    width: 550px;
    padding: 10px;
    border-radius: 15px;
}
.access-msg{
    width: 550px;
    height: 50px;
    top: 20px;
    margin-top: 10px;
    background: rgb(112, 211, 128);
    color: white;
    height: 50px;
    text-align: center;
    width: 550px;
    padding: 10px;
    border-radius: 15px;
}

div#titulo {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    color: white;
    }
    div#titulo h2{
        margin: 12px 0 0 10px;
    }

    div#titulo img{
        width: 60px;
        height: 60px;
    }

div#sub-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

div#sub-btn button{
    width: 200px;
    transition: .3s;
}

button#fim:disabled{
    background: #a7a7a7;
    cursor: default;
}
button#fim:hover:disabled{
    background: #a7a7a7;
}
button#fim{
    background: #707070;
}
button#fim:hover{
    background: #4d4d4d;
}

button#novo {
    background: #ED8F32;
}
button#novo:hover {
    background: rgb(189, 115, 41);
}

.content-new span span {
    border-radius: 20px;
    padding: 3px 10px;
    background: #707070;
}

.content-new span span#petSpan{
    background: #ED8F32;
}

.bg-azul-ciano{
    background: #4CBED3 !important;
}

.content-new form select {
    width: 100%;
    height: 45px;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 17px;
    padding: 0 20px;
}

.content-new form button#agendar{
    width: 100%;
    background-color: #707070;
}
.content-new form button#agendar:hover{
    background-color: #555555;
}

div#datetimeBubttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div#datetimeButtons input, div#datetimeButtons  select{
    padding: auto;
    width: 215px;
}

div#datetimeButtons input:first-child{
    margin-right: 20px;
}

::-webkit-inner-spin-button{display: none}

div#headerAnimal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #E8A23F;
    margin-top: 80px;
}

div#headerAnimal img{
    margin-right: 20px;
}

div#footerAnimal {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #3485D6;
    margin-top: 80px;
}

div#footerAnimal button{
    margin-right: 20px;
}

div#footerAnimal button#apagar, div#footerAnimal button#editar, div#footerAnimal button#voltar {
    display: flex;
    align-items: center;
    color: white;
    height: 50px;
    padding: 10px 30px;
    border-radius: 10px;

    transition: .3s;

}

div#footerAnimal button#apagar{
    background-color: #ED8F32;   
}

div#footerAnimal button#apagar:hover{
    background-color: rgb(199, 120, 42);   
}
div#footerAnimal button#apagar:disabled{
    background-color: rgb(250, 174, 98); 
    cursor: not-allowed;  
}

div#footerAnimal button#editar{
    background-color: #EDA132;
}
div#footerAnimal button#editar:hover{
    background-color: rgb(201, 138, 43);
}

div#footerAnimal button#editar:disabled{
    background-color: rgb(250, 174, 98); 
    cursor: not-allowed;  
}

div#footerAnimal button#voltar{
    background-color: #EBB43C;
}
div#footerAnimal button#voltar:hover{
    background-color: rgb(197, 151, 51);
}

div#footerAnimal button img {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}

table{
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

table thead tr{
    min-width: 200px;
    height: 60px;
}

table thead tr th {
    text-align: left;
}
table tbody tr{
    background-color: white;
    height: 60px;
}

table tbody tr td{
    text-align: left;
    font-weight: 500;
    color: black; 
}

table tbody tr:nth-child(2n){
    background-color: rgb(235, 235, 235);
}

input[type = "checkbox"]{
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

.checkbox {
    display: none;
}

.checkbox + label:before{
    content: '\2714';
    font-size: 12px;
    display: inline-block;
    color: transparent;
    width: 18px;
    height: 18px;
    background-color: none;
    border: 1px solid rgb(141, 141, 141);

    transition: .2s;
}

.checkbox:checked + label:before {
    color: rgb(255, 255, 255);
    background-color: rgb(97, 173, 248);
    border-color: white;
    height: 18px;
    width: 18px;
    border-radius: 10px;
}

.just-right {
    text-align: center;
}